<HTML>
    <HEAD>
        <TITLE>Teléfonos de emergencia</TITLE>
        <BODY>
            <h4 align="center">Telefonos de emergencia.</h4>
            <h5 align="center">Números telefónicos de emergencia en CDMX:</h5>
            <h4 align="center"><hr>Emergencias 9-1-1</h4>
            <h5 align="center">Los tipos de emergencia que se pueden reportar con este número son:</h5>
            <h4 align="text-justify">&#822 Medicas<br>
                &#822 Incendios<br>
                &#822 Fugas o derrames<br>
                &#822 Delitos<br>
                &#822 Accidentes de trafico o auxilio vial<br>
                &#822 Violencia</h4>
                <h5 align="center"><hr>Denuncia anonima:</h5>
                <h4 align="center">52 08 98 98</h4>
                <h5 align="center"><hr>Abuso policial:</h5>
                <h4 align="center">52 08 74 45</h4>
                <h5 align="center"><hr>Atencion ciudadana:</h5>
                <h5 align="center">01 800 702 87 70</h5>
                <h5 align="center"><hr>Denuncia express:</h5>
                <h5 align="center">01 800 398 07 74 06</h5>


        </BODY>
    </HEAD>
</HTML>